/* styles/4-style.css */

/* Define custom font-size properties on the root selector */
:root {
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
}

/* Set all fonts in the html element to 62.5% of their normal size */
html {
    font-size: 62.5%;
}

/* Set the font size for the body to font-size-medium */
body {
    font-size: var(--font-size-medium);
}

/* Additional CSS declarations can go here */
